/* -- PHONES -- */

/* Smartphone */ 
@media all and (max-width: 360px) {

/* Header Styles */

.logo {
    width: 70%;
}

#myVideo { /* FIX THIS */
    right: 0;
    bottom: 0;
    width: 100%;
    margin-top: -150px;
}

.video-text {
	display: none;
}

.video-text-who {
	display: none;
}

/* How To Icon Styles */

.how-to {
	background-color: #F5E6DF;
	width: 100%;
	margin-top: -32px;
}

.how-to-img {
	display: none !important; /* Sorry, please forgive me for using !important. I know it's kak. */
}

.how-to-img-mobile {
	display: block !important; /* Sorry again */
	width: 60% !important;
}

.center {
	text-align: center;
	padding-top: 20px;
}

/* Quiz Styles */

.quiz {
	margin: 0px;
	margin-top: -20px;
	padding: 0px;
	width: 100%;
}

.quiz-img {
	width: 100%;
}

.quiz-explination {
	margin-top: 10px;
	padding-bottom: 20px;
	height: 500px;
}

.quiz-explination h1 {
	text-align: center;
}

.quiz-p {
	color: #FCEDE6;
	padding: 30px;
	padding-bottom: 20px;
	margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.column {
    width: 100%;
}

/* Bestsellers */

.bestsellers {
	width: 100%;
	height: 200px;
	margin-top: -20px;
	background-color: #FCEDE6;
}

.bestsellers p {
	text-align: center;
	margin-left: 40px;
}

.bottle-boi {
	width: 60%;
	margin-left: 50px;
}

.column-6-left {
  width: 200px;
  display: inline-block;
  padding: 40px;
  float: left;
  margin-right: 20px;
}

.column-6-middle {
  width: 200px;
  display: inline-block;
  padding: 40px;
  float: left;
  margin-left: 10px;
  margin-right: 20px;
}

.column-6-right {
  width: 200px;
  display: inline-block;
  padding: 40px;
  float: left;
  margin-left: 20px;
}

/* Special Bestseller Page */

.bestseller-info-paragraph {
	display: none;
}

.bestseller-img {
	display: none;
}

.process {
	display: none;
}

.mobile-only {
	display: block;
	width: 100%;
}

/* Contact Form */

.form-style-bestsellers {
	display: none;
}

.contact-form-bestseller {
	display: none;
}

.wine-contact {
	display: none;
}

/* Footer */

footer {
	background-color: #F5E6DF;
	width: 100%;
	height: auto;
}

footer p {
	text-align: center;
	padding: 30px;
	padding-bottom: 20px;
	margin: 0px;
	line-height: 20px;
	font-size: 14px;
}

/* Wine Page */
.responsive {
	display: none;
}
#pink-bottle {
	display: none;
}

}


/* Iphone X  */
@media all and (max-width: 375px) {

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

/* Header Styles */

.logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#myVideo {
	width: 375px;
}

.video-text {
	display: none;
}

.video-text-who {
	display: none;
}

/* How To Icon Styles */

.how-to {
	background-color: #F5E6DF;
	width: 100%;
	margin-top: -32px;
}

.how-to img {
	display: none;
}

.how-to-img-mobile {
	display: block !important;
}

/* Quiz Styles */

.quiz {
	margin: 0px;
	margin-top: -20px;
	padding: 0px;
	width: 100%;
}

.quiz-img {
	width: 50%;
}

.quiz-explination {
	background-color: #303747;
	color: #FCEDE6;
	margin-top: 10px;
	padding-bottom: 20px;
}

.quiz-p {
	padding: 20px;
	padding-bottom: 20px;
	text-align: left;
	margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.column {
    width: 100%;
    margin-top: -18px;
}

/* Bestsellers */

.bestsellers {
	width: 100%;
	height: 2900px;
	margin-top: -20px;
	background-color: #FCEDE6;
}

.bottle-boi {
	width: 60%;
}

.column-6-left {
  width: 300px;
  padding: 20px;
  margin-left: 80px;
  float: left;
  margin-right: 10px;
}

.column-6-middle {
  width: 300px;
  padding: 20px;
  float: left;
  margin-left: 80px;
  margin-right: 10px;
}

.column-6-right {
  width: 300px;
  padding: 20px;
  float: left;
  margin-left: 80px;
}

/* Special Bestseller Page */

.bestseller-info-paragraph {
	display: none;
}

.bestseller-img {
	display: none;
}

.process {
	display: none;
}

/* Contact Form */

.form-style-bestsellers {
	display: none;
}

.contact-form-bestseller {
	display: none;
}

.wine-contact {
	display: none;
}

/* Footer */

footer {
	height: 400px;
}

footer p {
	text-align: center;
	padding: 10px;
	line-height: 30px;
}

/* Wine Page */
.responsive {
	display: none;
}
#pink-bottle {
	display: none;
}

}

/* Smartphone */ 
@media all and (max-width: 412px) {

/* How To */

.how-to-img {
	display: none !important; /* Sorry, please forgive me for using !important. I know it's kak. */
}

.how-to-img-mobile {
	display: block !important; /* Sorry again */
	width: 60% !important;
}

/* Footer */

footer p {
	text-align: center;
	padding: 40px;
	line-height: 30px;
	font-size: 14px;
}

/* Contact Form */

.form-style-bestsellers {
	display: none;
}

.contact-form-bestseller {
	display: none;
}

.wine-contact {
	display: none;


}







